.generate {
    padding: 3rem 0 0;
    min-height: 100vh;
}
.generate_container {
    background-color: #fff;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.2);
    padding: 3rem;
    max-width: 50rem;
    width: 100%;
    border-radius: 1rem;
    margin: 0 auto;
}

.generate_container h1 {
    text-align: center;
    font-size: 2rem;
    letter-spacing: 1px;
    padding-bottom: 1rem;
}

.generate_container .generate_pass {
    width: 100%;
    height: 5rem;
    font-size: 1.6rem;
    text-align: center;
    border: 1px solid #333;
    border-radius: 1rem;
    margin-bottom: 1rem;
    overflow: hidden;
    position: relative;
}

.generate_container .generate_pass input {
    width: 100%;
    height: 100%;
    text-align: center;
}

.generate_container .generate_pass .btn_copy {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    border-radius: .5rem;
    background-color: #ccc;
    padding: .5rem;
    cursor: pointer;
    font-size: 1.7rem;
    color: #000;
}


.copied {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    z-index: 0;
    font-size: 1rem;
    color: #fff;
    border-radius: 1rem;
    background-color: var(--color-primary);
    padding: .5rem;
    pointer-events: none;
    opacity: 0;
}

.copied.active {
    animation: copied 1s ease-in-out;
}

@keyframes copied {
    0% {
        right: 1rem;
        opacity: 1;
    }

    50% {
        right: 5rem;
        opacity: 1;
    }

    100% {
        right: 1rem;
        opacity: 0;
    }
}

.length_container,
.uppercase_container,
.lowercase_container,
.numbers_container,
.symbols_container {
    width: 100%;
    display: flex;
    align-items: center;
    padding: .8rem 1rem;
    font-size: 1.8rem;
}

.length_container {
    justify-content: space-between;
}

.length_container .input_length {
    width: 70%;
    margin-right: 2rem;
    cursor: pointer;
}

.length_container .length_number {
    border-radius: 1rem;
    border: .01rem solid #333;
    font-size: 1.7rem;
    padding-left: .5rem;
    width: 5rem;
    height: 3rem;
}

.uppercase_container input,
.lowercase_container input,
.numbers_container input,
.symbols_container input {
    width: 15px;
    height: 15px;
    cursor: pointer;
    margin-right: 1rem;
} 

.generate_btn {
    cursor: pointer;
    padding: 1.5rem;
    font-size: 1.8rem;
    color: #fff;
    font-weight: 600;
    letter-spacing: 1px;
    width: 100%;
    background-color: var(--color-primary);
    transition: all .3s ease;
    margin-top: 1rem;
}

.generate_btn{
    color: #fff;
}


.generate_btn:hover {
    background-color: var(--color-primary-dark);
}
