.header .user_login {
  display: flex;
}

.nav_lateral .navs_content .navs_login {
  display: block;
}

.cards_container {
  padding: 2rem 0;

}

.back_folders {
  cursor: pointer;
  font-size: 3rem;
  color: var(--color-primary);
  margin-right: 1rem;
}

.back_folders:hover {
  color: var(--color-primary-dark);
}

.cofre .cards_container .cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.cofre .card {
  text-align: center;
  padding: 1rem;
  position: relative;
  cursor: pointer;
}

.cofre .card:hover {
  background-color: #ccc;
}

.cofre .card .img_folder,
.cofre .card .img_password {
  margin: 0 auto 1rem;
  width: auto;
  height: 5rem;
  object-fit: cover;
  border-radius: 1rem;
  display: block;
  pointer-events: none;
}

.cofre .card .folder_name {
  font-size: 1.8rem;
  font-weight: 600;
  pointer-events: none;
}

.cofre .card .login_pass,
.cofre .card .pass,
.cofre .card .name_password {
  display: block;
  font-size: 1.7rem;
  font-weight: 600;
  color: var(--color-black-light);
}

.cofre .card .name_password {
  font-size: 2rem;
  color: var(--color-black);
}

.footer {
  margin-top: 70vh;
}

