.header .user_login {
    display: flex;
}

.nav_lateral .navs_content .navs_login {
    display: block;
}

.form_search {
    width: 100%;
    background-color: #eee;
    display: flex;
    align-items: center;
    height: 5rem;
    border-radius: 1.5rem;
    overflow: hidden;
    border: .01rem solid rgba(0, 0, 0, 0.2);
    margin: 0 2rem;
  }
  
  .form_search #input_search {
    background-color: transparent;
    color: var(--color-black);
    font-size: 1.8rem;
    font-weight: 400;
    margin-left: 1.5rem;
    width: 100%;
    height: 100%;
    text-transform: lowercase;
  }
  
  .form_search #input_search::placeholder {
    color: var(--color-black-light);
    opacity: .9;
  }
  
  .form_search #btn_search {
    font-size: 2rem;
    cursor: pointer;
    background-color: transparent;
    color: var(--color-black-light);
    margin-left: 1.5rem;
  }

.your_shares, .other_shares{
    margin-bottom: 3rem;
}

.shares_container {
    padding: 2rem 0;
}

.shares_container .shares .title_shares {
    font-size: 1.8rem;
    color: #333;
    font-weight: 400;
}

.shares_container .shares {
    display: block;
}

.shared_items {
    display: block;
    padding-top: 1rem;
}

.shared_items .shared_item {
    display: block;
    background-color: var(--bg-card);
    margin-bottom: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5);
    transition: all 300ms ease-in;
    position: relative;
}

.shared_items .shared_item:hover {
    background-color: var(--color-primary);
}

.shared_items .shared_item .share_link {
    display: flex;
    padding: 1rem 2rem;
    align-items: center;
    width: 100%;
    height: 100%;
}

.shared_items .shared_item {
    display: flex;
}

.shared_items .shared_item .shared_platform_img {
    margin-right: 2rem;
    width: 5rem;
    height: 5rem;
}

.shared_items .shared_item .shared_info .shared_platform_name {
    font-size: 1.8rem;
    color: var(--color-black-light);
    font-weight: 700;
}

.shared_items .shared_item .shared_info .who_shared_container {
    display: flex;
    align-items: center;
}

.shared_items .shared_item .shared_info .who_shared_container {
    color: var(--color-black-light);
    font-weight: 500;
}

.shared_items .shared_item .shared_info .who_shared_container .icon_share {
    font-size: 1.4rem;
    margin: 0 1rem;
}

.shared_items .shared_item .share_btn_config {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 2rem;
    padding: 1rem;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-black-light);
    color: var(--color-white);
    border-radius: 50%;
    cursor: pointer;
    z-index: 300;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    transition: all 200ms ease-in-out;
} 

.shared_items .shared_item .share_btn_config:hover {
    background-color: #fff;
    color: var(--color-black);
}




@media (max-width: 425px) {
    .shared_items .shared_item .shared_info .who_shared_container {
        flex-direction: column;
        align-items: flex-start;
    }
    .shared_items .shared_item .shared_info .who_shared_container .icon_share {
        margin: .5rem 0;
        transform: rotate(90deg);
    }
}

