.header .user_login {
    display: flex;
}

.nav_lateral .navs_content .navs_login {
    display: block;
}

.items_container {
    padding-top: 1rem;
}

.items_container #title_items {
    font-size: 1.8rem;
    color: #333;
    font-weight: 400;
}

.items_container .items {
    padding-top: 1.5rem;
}

.items_container .items .item {
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    cursor: pointer;
    background-color: var(--bg-card);
    border-radius: 1rem;
    margin-bottom: 1.3rem;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5);
    transition: all 300ms ease-in;
    position: relative;
}

.items_container .items .item:hover {
    background-color: var(--color-primary);
}
.items_container .items .item:hover .left .info .name_shared,
.items_container .items .item:hover .left .info .emails {
    color: #fff;
}

.items_container .items .item .left {
    display: flex;
    align-items: center;
}

.items_container .items .item .left img {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 2rem;
    display: flex;
    align-items: center;
}

.items_container .items .item .left .info .name_shared {
    display: block;
    color: #000;
    font-weight: 600;
    transition: all 300ms ease-in-out;
}

.items_container .items .item .left .info .emails {
    display: flex;
    align-items: center;
    flex-direction: row;
    font-size: 1.5rem;
    color: var(--color-black-light);
    transition: 300ms ease-in-out;
}

.items_container .items .item .left .info .emails .icon_share {
    margin: 0 1rem;
}

.items_container .items .item .btn_config_container {
    position: absolute;
    right: 2rem;
    top: 50%;
    transform: translateY(-50%);
}

.items_container .items .item .btn_config_container .btn_config {
    background-color: #eee;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .5);
    color: #000;
    cursor: pointer;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    z-index: 10;
    transition: all 300ms ease-in-out;
}


@media (max-width: 580px) {
    .items_container .items .item .left .info .emails {
        flex-direction: column;
        align-items: flex-start;
    }

    .items_container .items .item .left .info .emails .icon_share {
        margin: .5rem 0;
    }
}

