@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
/* 
--------- ROOT --------
*/
:root {
  --color-primary: #1ca184;
  --color-primary-dark: #2c7e6c;
  --color-primary-light: #21b696;
  --color-primary-2: #349681;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-black-light: #333333;
  --bg-card: #eeeeee;
}

/* 
--------- RESETS --------
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  list-style: none;
  outline: none;
}

*::-webkit-scrollbar {
  background-color: transparent;
  width: 1rem;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  border-radius: 1rem;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
  scroll-padding-top: 6rem;
}

body {
  position: relative;
  font-size: 1.6rem;
  overflow-x: hidden;
  transition: all .3s ease;
}

body.active {
  overflow: hidden;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container {
  width: 95%;
  margin: 0 auto;
  max-width: 1280px;
}

/* LOGO STYLE*/
#logo {
  color: var(--color-white);
  font-size: 2.5rem;
  animation: l-top 0.5s;
  font-weight: 600;
  letter-spacing: 1px;
}

/* CARD STYLE */
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.card {
  position: relative;
  background-color: var(--bg-card);
  padding: 1rem;
  transition: all .3s ease-in-out;
  padding: 2rem 4rem;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.6);
  border-radius: 1rem;
}

.title_section {
  text-align: center;
  font-size: 2rem;
  letter-spacing: 2px;
  color: var(--color-black);
  padding-bottom: 1rem;
  animation: l-bottom .5s;
}

/* SMALL TEXT STYLE*/
.small_text {
  font-size: 1.6rem;
  color: var(--color-black-light);
  font-weight: 400;
}

/* 
--------- HEADER STYLE --------
*/
.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--color-primary);
  padding: 10px 0;
  z-index: 15;
}

.header .header_navs {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .header_navs .menu {
  cursor: pointer;
  animation: l-left 0.5s;
  padding: 5px;
  color: #fff;
  font-size: 1.8rem;
}

.header .header_navs .user_no_login {
  animation: l-right 0.5s;
  transition: .3s ease-in-out;
}

.header .header_navs #login_link {
  position: relative;
  font-size: 1.5rem;
  background-color: transparent;
  color: var(--color-white);
  border-radius: 1rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 600;
  border: 2px solid transparent;
  transition: all 300ms linear;
}

.header .header_navs .user_no_login:hover {
  transform: translateX(-1rem);
}

.header .header_navs #login_link::after {
  content: '>';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  transition: all 300ms linear;
  opacity: 0;
}

.header .header_navs #login_link:hover::after{
  opacity: 1;
  left: 105%;
}

.header .user_login {
  display: none;
  justify-content: center;
  align-items: center;
  position: relative;
}

.header .user_login .img_profile {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 1rem;
}

.header .user_login span {
  display: block;
  color: var(--color-white);
  font-size: 1.5rem;
}

.header .user_login a {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
}


/* 
--------- HOME STYLE --------
*/

@keyframes zoom {
  0% {
    transform: scale(1.1);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.1);
  }
}

.home {
  position: relative;
  height: 60vh;
  overflow: hidden;
}

.home .img_wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.home .img_wrapper::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6));
}

.home .img_wrapper img {
  object-position: center 70%;
  animation: zoom 10s ease-in-out infinite;
}


.home_info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 90%;
  margin: 0 auto;
}

.home_info h1 {
  font-size: 1.9rem;
  font-weight: 400;
  color: var(--color-white);
  letter-spacing: 3px;
  line-height: 1.5;
  padding-bottom: 4rem;
  animation: l-3d-left 500ms ease-in-out;
}

.home_info .starting {
  animation: l-3d-right 500ms ease-in-out;
}

.home_info .starting a {
  color: var(--color-white);
  padding: 1.5rem 2rem;
  border: .01rem solid var(--color-primary);
  border-radius: 1rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.3s ease;
  font-weight: 600;
  
}

.home_info a:hover {
  letter-spacing: 3px;
}

/* 
--------- DETAILS STYLE --------
*/
.beneficios {
  padding: 3rem 0;
}

.beneficios .cards {
  padding-top: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.beneficios .cards .card {
  text-align: center;
}

.beneficios .cards .card:hover {
  transform: translateY(-0.5rem);
}

.beneficios .cards .card .card_icon {
  margin-bottom: 1rem;
  width: 7.5rem;
  margin: 0 auto 1rem;
}

.beneficios .cards .card h3 {
  font-size: 1.9rem;
  font-weight: 700;
  color: var(--color-black-light);
  padding-bottom: 1rem;
  letter-spacing: 1px;
}
.beneficios .cards .card span {
  color: var(--color-black-light);
  line-height: 1.5;
}


.beneficios .cards .card:nth-child(1) {
  animation: l-3d-left 500ms;
}

.beneficios .cards .card:nth-child(2) {
  animation: l-3d-bottom 500ms;
}

.beneficios .cards .card:nth-child(3) {
  animation: l-3d-right 500ms;
}

.beneficios .cards .card:nth-child(4) {
  animation: l-3d-left 500ms;
}

.beneficios .cards .card:nth-child(5) {
  animation: l-3d-bottom 500ms;
}

.beneficios .cards .card:nth-child(6) {
  animation: l-3d-right 500ms;
}

/* 
--------- PLANOS STYLE --------
*/

.planos {
  padding: 4rem 0;
}

.planos h1 {

}

.planos p {
  text-align: center;
  animation: l-bottom .5s;
}

.planos .cards {
  padding: 4rem 0 0;
  align-items: stretch;
  column-gap: 50px;
}

.planos .cards .card {
  width: 100%;
  max-width: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.planos .cards .card:hover {
  transform: translateY(-1rem);
}

.planos .cards .card:nth-child(1){
  animation: l-3d-left .5s ease-in-out;
}

.planos .cards .card:nth-child(2){
  animation: l-3d-right .5s ease-in-out;
}

.planos .cards .card h2 {
  text-align: center;
  padding-bottom: 2rem;
  font-size: 2.5rem;
  letter-spacing: 3px;
  color: var(--color-primary-light);
  font-weight: 900;
  text-transform: uppercase;
}

.planos .cards .card #master {
  color:var(--color-black-light);
}

.planos .cards .card ul li {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}

.planos .cards .card ul li:last-child {
  margin-bottom: 5rem;
}

.planos .cards .card ul li i{
  color: var(--color-primary);
  font-size: 1.7rem;
  padding-right: 1rem;
}

.planos .cards .card #price {
  color: var(--color-white);
  font-size: 2rem;
  font-weight: 800;
  background-color: var(--color-primary);
  padding: 1rem 2rem;
  border-radius: 1rem;
  letter-spacing: 1px;
  cursor:default;
}

.planos .cards .card a {
  display: block;
  margin-top: 3rem;
  padding: 1.5rem 0;
  text-align: center;
  background-color: var(--color-black-light);
  color: var(--color-white);
  border-radius: 1rem;
  font-size: 1.9rem;
  font-weight: 600;
  letter-spacing: 1px;
  transition: all .3s ease-in-out;
}

.planos .cards .card a:hover {
  background-color: var(--color-black);
}

/* 
--------- NAVEGAÇÃO LATERAL STYLE --------
*/

.nav_lateral {
  position: fixed;
  top: 0;
  left: -27rem;
  height: 100vh;
  background-color: var(--color-black-light);
  width: 27rem;
  z-index: 20;
  padding: 5rem 0 2rem;
  transition: .3s ease-in-out;
}

.nav_lateral.active {
  left: 0;
}

.nav_lateral.active li {
  animation: l-left .5s ease-in-out;
}

.nav_lateral.active li:nth-child(2) {
  animation: l-left .6s ease-in-out;
}

.nav_lateral.active li:nth-child(3) {
  animation: l-left .7s ease-in-out;
}

.nav_lateral.active li:nth-child(4) {
  animation: l-left .8s ease-in-out;
}

.nav_lateral.active li:nth-child(5) {
  animation: l-left .9s ease-in-out;
}

.nav_lateral.active li:nth-child(6) {
  animation: l-left 1s ease-in-out;
}

#close_nav {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  font-size: 2rem;
  color: var(--color-white);
  cursor: pointer;
  padding: .5rem;
}

.nav_lateral .navs_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 1rem;
}

.nav_lateral .navs_content h3 {
  color: var(--color-white);
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  padding-bottom: 4rem;
}

.nav_lateral .navs_content a {
  color: var(--color-white);
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 1px;
  display: block;
  padding: 1.3rem 0 1.3rem 2rem;
  border-radius: 1rem;
  transition: all .3s ease;
}

.nav_lateral .navs_content a i {
  padding-right: .5rem;
  transition: .3s all ease;
}

.nav_lateral .navs_content a:hover {
  background-color: #444;
}

.nav_lateral .navs_content a:hover i {
  padding-right: 1rem;
}

.nav_lateral .navs_content .navs_login {
  display: none;
}

.nav_lateral .navs_content .navs_login, 
.nav_lateral .navs_content .navs_no_login {
  padding-top: 1rem;
  border-top: .01rem solid rgba(255, 255, 255, 0.2);
}

.nav_lateral.active .navs_content .navs_login,
.nav_lateral.active .navs_content .navs_no_login {
  animation: l-left 1.1s ease-in-out;
}


/* 

*/

.form_search {
  width: 100%;
  background-color: #eee;
  display: flex;
  align-items: center;
  height: 5rem;
  border-radius: 1.5rem;
  overflow: hidden;
  border: .01rem solid rgba(0, 0, 0, 0.2);
  margin: 0 2rem;
}

.form_search #input_search {
  background-color: transparent;
  color: #000;
  font-size: 1.8rem;
  font-weight: 400;
  margin-left: 1.5rem;
  width: 100%;
  height: 100%;
  text-transform: lowercase;
}

.form_search #input_search::placeholder {
  color: #333;
}

.form_search #btn_search {
  font-size: 2rem;
  cursor: pointer;
  background-color: transparent;
  color: var(--color-black-light);
  margin-left: 1.5rem;
}

.shared .container,
.cofre .container {
  max-width: 900px;
  margin: 0 auto;
  width: 95%;
}

.shared,
.cofre {
  padding: 2rem 0;
}

.shared .shared_header, 
.cofre .cofre_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;
  gap: 10px;
  border-bottom: 0.01rem solid var(--color-black-light);
}

.shared .shared_header .filter,
.cofre .cofre_header .filter {
  position: relative;
}

.shared .shared_header .filter_btn,
.cofre .cofre_header .filter_btn {
  font-size: 1.8rem;
  font-weight: 400;
  color: #666;
  width: 23rem;
  text-align: left;
  cursor: pointer;
  background-color: transparent;
  color: #333;
  z-index: 15;
} 

.cofre .cofre_header .filter_btn {
  width: 16rem;
}

.shared .shared_header .filter_items,
.cofre .cofre_header .filter_items {
  position: absolute;
  top: calc(100% + 1rem);
  background-color: #fff;
  width: 100%;
  z-index: 10;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
  max-height: 0;
  transition: max-height 300ms linear;
  overflow: hidden;
} 

.shared .shared_header .filter_items.active,
.cofre .cofre_header .filter_items.active {
  max-height: 200px;
}

.shared .shared_header .filter_items #filter_item,
.cofre .cofre_header .filter_items #filter_item {
  text-align: center;
  padding: 1rem 0;
  border-bottom: .01rem solid #888;
  cursor: pointer;
  transition: .3s all ease-in-out;
}

.shared .shared_header .filter_items #filter_item:hover,
.cofre .cofre_header .filter_items #filter_item:hover {
  background-color: #eee;
}



.shared .shared_header .filter_btn i,
.cofre .cofre_header .filter_btn i {
  font-size: 1.3rem;
}

.items_container {
  animation: l-3d-bottom .5s;
}

.items_container.close {
  display: none;
}

.shared .shared_header .new_create,
.cofre .cofre_header .new_create {
  position: relative;
}

.shared .shared_header .new_create button,
.cofre .cofre_header .new_create button {
  border-radius: 50%;
  width: 4.5rem;
  height: 4.5rem;
  background-color: var(--color-primary);
  cursor: pointer;
  color: #fff;
  font-size: 1.5rem;
  transition: background-color 200ms linear;
}

.shared .shared_header .new_create button:hover,
.cofre .cofre_header .new_create button:hover {
  background-color: var(--color-primary-dark);
}


/* 
--------- MAIN STYLE --------
*/

.main {
  position: relative;
  padding-left: 0;
  transition: all .3s ease-in-out;
}

.main.active {
/*   left: 27rem;
  width: calc(100% - 27rem); */
  padding-left: 27rem;
}


.footer {
  margin-top: 50vh;
  padding: 1rem 0;
  width: 100%;
  background-color: var(--color-primary-dark);
  text-align: center;
}

.footer a {
  color: #fff;
}

.generate_container {
  animation: l-3d-bottom 500ms;
}


/* 
--------- ANIMATIONS --------
 l = load
*/

@keyframes l-left {
  0% {
    transform: translateX(-10rem);
    opacity: 0;
  }

  100% {
    transform: translateX(1);
    opacity: 1;
  }
}

@keyframes l-right {
  0% {
    transform: translateX(10rem);
    opacity: 0;
  }

  100% {
    transform: translateX(1);
    opacity: 1;
  }
}

@keyframes l-top {
  0% {
    transform: translateY(-10rem);
    opacity: 0;
  }

  100% {
    transform: translateY(1);
    opacity: 1;
  }
}

@keyframes l-bottom {
  0% {
    transform: translateY(10rem);
    opacity: 0;
  }

  100% {
    transform: translateY(1);
    opacity: 1;
  }
}

@keyframes l-3d-left {
  0% {
    transform: perspective(.5cm) rotateY(-2deg) translateX(-15rem);
  }

  100% {
    transform: perspective(1) rotateY(0deg) translateX(0);
  }
}

@keyframes l-3d-right {
  0% {
    transform: perspective(.5cm) rotateY(2deg) translateX(15rem);
  }

  100% {
    transform: perspective(1) rotateY(0deg) translateX(0);
  }
}

@keyframes l-3d-bottom {
  0% {
    transform: perspective(.5cm) rotateX(-5deg) translateY(30rem);
  }

  100% {
    transform: perspective(1) rotateX(0deg) translateY(0);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(1);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes wave {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(45deg);
  }
  50% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(0);
  }
}

/* 
--------- RESPONSIVIDADE --------
*/

@media (min-width: 1920px) {
  .container {
    width: 95%;
    max-width: 1920px;
  }


  .menu {
    display: none;
  }

  .nav_lateral {
    position:relative;
    left: 0;
    width: auto;
    background-color: transparent;
    height: auto;
    padding: 0;
  }
 
  .nav_lateral #close_nav {
    display: none;
  }

  .nav_lateral .navs_content, 
  .nav_lateral .navs {
    display: flex;
  }

  .navs_login, 
  .navs_no_login {
    display: none;
  }

}

@media (max-width: 768px) {

  .main.active {
    padding-left: 0;
  }
}

@media (max-width: 580px) {
  .shared .shared_header,
  .cofre .cofre_header  {
    flex-wrap: wrap-reverse;
    
  }

  .shared .shared_header .form_search,
  .cofre .cofre_header .form_search {
    margin: 0 0 1rem;
  }

  .shared .shared_header .new_create,
  .cofre .cofre_header .new_create {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 10;
  }

  .shared .shared_header .filter,
  .cofre .cofre_header .filter {
    margin: 0 auto;
  }
  .shared .shared_header .filter_btn,
  .cofre .cofre_header .filter_btn {
    text-align: center;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
}

/* @media (max-width: 480px) {
  html {
    font-size: 50%;
  }
} */

